@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
  --color-background: #f8fafc;
  --color-text: #1e293b;
  --color-text-light: #64748b;

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-200 font-sans antialiased selection:bg-blue-500/30 selection:text-blue-200;
}